<div class="row">
  <div class="col-md-4">
    <%= simple_form_for @category do |f| %>
        <%= f.input :name %>
        <%= f.input :description, as: :text %>
        <%= f.button :submit %>
    <% end %>
  </div>
</div>
